section.description
	.container
		.description__row.description__row--1
			h2.description__title.title.title--med Что такое
				br
				span.bg-world A
					span ff
					| hub?
			p.description__desc Affhub - это арбитражное сообщество, которое объединяет арбитражников и представителей affiliate маркетинга по всему миру. Хочешь получить актуальные фишки и секреты от топов affiliate маркетинга? Завести новые знакомства в сфере? Ищешь команду или нужны полезные знакомства с сфере? Приходи на Affhub!
		.description__row.description__row--2
			h2.description__title.title.title--med Что такое
				br
				span.bg-world A
					span ff
					| hub Tour Ru
					span ss
					| ia?
			p.description__desc Это серия ламповых мероприятий для вебмастеров и топых арбитражников. Наш формат мероприятий: 2 доклада от топов affiliate маркетинга и лаунж вечеринка с дымными кальянами и баром all- in.
		.description__row.description__row--3
			h2.description__title.title.title--med 
				span.bg-world A
					span ff
					| hub 
				span в твоем городе:
			.description__list
				.description-item
					img.description-item__icon(src="img/svg/description_icon_1.svg", alt="icon")
					p.description-item__text Доклад + вечеринка
				.description-item
					img.description-item__icon(src="img/svg/description_icon_2.svg", alt="icon")
					p.description-item__text Качественный нетворкинг
				.description-item
					img.description-item__icon(src="img/svg/description_icon_3.svg", alt="icon")
					p.description-item__text TOP вертикали: gambling, nutra, crypto, dating и betting
				.description-item
					img.description-item__icon(src="img/svg/description_icon_4.svg", alt="icon")
					p.description-item__text Дымные кальяны и бар all-in
				.description-item
					img.description-item__icon(src="img/svg/description_icon_5.svg", alt="icon")
					p.description-item__text Развлекательная программа
				.description-item
					img.description-item__icon(src="img/svg/description_icon_6.svg", alt="icon")
					p.description-item__text Розыгрыш призов от организаторов