footer.footer
	.container
		img.footer__logo(src="img/svg/logo.svg", alt="affhub")
		.footer__wrap
			.footer__col
				a.footer__link(href="https://affhub.net/aboutus") О нас
				a.footer__link(href="https://affhub.net/termsofuse") Пользовательское соглашение
				a.footer__link(href="https://affhub.net/confidentiality") Конфиденциальность
				//- a.footer__link(href="#") Правила перепубликации
			.footer__col
				p.footer__text При партнерстве и поддержке
				img.footer__everad(src="img/svg/everad.svg", alt="everad")
				p.footer__copy © 2019 ... 2021 Affhub Media.
			.footer__col
				.footer__contact
					a.footer__link-contact(href="mailto:info@affhub.net")
						i.fico.fico-email
						| info@affhub.net
					a.footer__link-contact(href="tel:+380933794144")
						i.fico.fico-tel
						| +380 93 379 41 44
				.footer__social
					a(href="https://www.facebook.com/affhubcom/" target="_blank")
						i.fico.fico-fb
					a(href="https://vk.com/affhub" target="_blank")
						i.fico.fico-vk
					a(href="https://t.me/joinchat/AAAAAEJWe7Cf1Cw_rO7JZw" target="_blank")
						i.fico.fico-tg
					a(href="https://www.instagram.com/affhubcommunity/" target="_blank")
						i.fico.fico-inst