section.gallery
	.container
		.gallery__wrap.js-gallery
			h2.gallery__title.title Фотографии с мероприятия, тут сохрянились ваши эмоции и настроение!
			.gallery-item.gallery-item--1
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_1.jpg", alt="photo")
				p.gallery-item__city Киев
				a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.4144152852303214" target="_blank") Перейти в альбом
			.gallery-item.gallery-item--2
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_2.jpg", alt="photo")
				p.gallery-item__city Ростов-на-Дону
				a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2710677745650739" target="_blank") Перейти в альбом
			.gallery-item.gallery-item--3
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_3.jpg", alt="photo")
				p.gallery-item__city Новгород
				a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2546081345443714" target="_blank") Перейти в альбом
			.gallery-item.gallery-item--4
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_4.jpg", alt="photo")
				p.gallery-item__city Санкт-Петербург
				a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2993628530688991" target="_blank") Перейти в альбом
			.gallery-item.gallery-item--5
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_5.jpg", alt="photo")
				p.gallery-item__city Львов
				a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2753136881404825" target="_blank") Перейти в альбом
			.gallery-item.gallery-item--6
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_6.jpg", alt="photo")
				p.gallery-item__city Одесса
				a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2531208116931037" target="_blank") Перейти в альбом
			.gallery-item.gallery-item--7
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_7.jpg", alt="photo")
				p.gallery-item__city Тбилиси
				a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.4242803675771464" target="_blank") Перейти в альбом
			.gallery-item.gallery-item--8
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_8.jpg", alt="photo")
				p.gallery-item__city Днепр
				a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.3682278068490697" target="_blank") Перейти в альбом
			.gallery-item.gallery-item--9
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_9.jpg", alt="photo")
				p.gallery-item__city Харьков
				a.gallery-item__link(href="https://www.facebook.com/media/set/?vanity=affhubcom&set=a.2762773490441164" target="_blank") Перейти в альбом
			.gallery-item.gallery-item--10
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_10.jpg", alt="photo")
					p.gallery-item__label.title COOMING SOON
				p.gallery-item__city Affhub Meetup Kyiv
				//- a.gallery-item__link(href="#" target="_blank") Перейти в альбом
				button.gallery-item__btn.btn.js-show-popup(data-target="#order-popup") Регистрируйся сейчас
			.gallery-item.gallery-item--11
				.gallery-item__photo-wrap
					img.gallery-item__photo(src="img/gallery_11.jpg", alt="photo")
					p.gallery-item__label.title COOMING SOON
				p.gallery-item__city Affhub Tour Russia
				//- a.gallery-item__link(href="#" target="_blank") Перейти в альбом
				button.gallery-item__btn.btn.js-show-popup(data-target="#order-popup") Регистрируйся сейчас
		button.gallery__btn.js-show-gallery Показать ещё
			i.fico.fico-arrowS
