section.header
	.container
		h1.header__title.title Affhub Tour 
			br
			| Russia
		p.header__subtitle.title Мероприятие для вебмастеров и&nbsp;представителей affiliate индустрии
		.header__list-events
			p.header__info-event.header__info-event--1 Воронеж
				span 15 октября
			p.header__info-event.header__info-event--2 Казань
				span 17 сентября
			p.header__info-event.header__info-event--3 Екатеринбург
				span 24 сентября
			p.header__info-event.header__info-event--4 Самара
				span 8 октября
			p.header__info-event.header__info-event--5 Белгород
				span 19 октября
			p.header__info-event.header__info-event--6 Саратов
				span 12 октября
			p.header__info-event.header__info-event--7 Краснодар
				span 14 сентября
			p.header__info-event.header__info-event--8 Уфа
				span 21 сентября
		.header__reg-block.reg-block
			.reg-block__info
				.reg-block__icon !
				p.reg-block__text Количество мест ограничено 
					br
					| Билеты платные
			button.reg-block__button.js-show-popup(data-target="#order-popup")  Регистрация