.nav
	.container
		.nav__wrapper
			img.nav__logo(src="img/svg/logo.svg", alt="affhub")
			.reg-block
				.reg-block__info
					.reg-block__icon !
					p.reg-block__text Количество мест ограничено 
						br
						| Билеты платные
				button.reg-block__button.js-show-popup(data-target="#order-popup") Регистрация