section.organizers
	.container
		h2.organizers__title.title Встретимся на
			span.bg-world A
				span ff
				| hub!
		.organizers__list
			.organizer
				img.organizer__photo(src="img/organizer_1.png", alt="Сапогова Ольга")
				.organizer__info
					p.organizer__post Head of Affhub
					p.organizer__name.title Сапогова Ольга
					a.organizer__link(href="https://t.me/Olya_cpa") @Olya_cpa
			.organizer
				img.organizer__photo(src="img/organizer_2.png", alt="Маслова Виктория")
				.organizer__info
					p.organizer__post Team Lead of Affhub
					p.organizer__name.title Маслова Виктория
					a.organizer__link(href="https://t.me/Viktoriia_cpa") @Viktoriia_cpa
			.organizer
				img.organizer__photo(src="img/organizer_3.png", alt="Буряк Евгений")
				.organizer__info
					p.organizer__post Affiliate of Affhub
					p.organizer__name.title Буряк Евгений
					a.organizer__link(href="https://t.me/Yevhenii_cpa") @Yevhenii_cpa
			.organizer
				img.organizer__photo(src="img/organizer_4.png", alt="Онищенко Виктория")
				.organizer__info
					p.organizer__post Events of Affhub
					p.organizer__name.title Онищенко Виктория
					a.organizer__link(href="https://t.me/Viktoriya_cpa") @Viktoriya_cpa