.slider
	.container
		.slider__wrapper.js-city-slider
			.slide
				.slide__wrap-photo
					img(src="img/slide_1.png", alt="Краснодар")
				p.slide__city.title Краснодар
				p.slide__place Secret Place
				.slide__time
					p.slide__text 14 сентября
					p.slide__text 19:00
			.slide
				.slide__wrap-photo
					img(src="img/slide_2.png", alt="Казань")
				p.slide__city.title Казань
				p.slide__place Secret Place
				.slide__time
					p.slide__text 17 сентября
					p.slide__text 19:00
			.slide
				.slide__wrap-photo
					img(src="img/slide_3.png", alt="Уфа")
				p.slide__city.title Уфа
				p.slide__place Secret Place
				.slide__time
					p.slide__text 21 сентября
					p.slide__text 19:00
			.slide
				.slide__wrap-photo
					img(src="img/slide_4.png", alt="Екатеринбург")
				p.slide__city.title Екатеринбург
				p.slide__place Secret Place
				.slide__time
					p.slide__text 24 сентября
					p.slide__text 19:00
			.slide
				.slide__wrap-photo
					img(src="img/slide_5.png", alt="Воронеж")
				p.slide__city.title Воронеж
				p.slide__place Secret Place
				.slide__time
					p.slide__text 8 октября
					p.slide__text 19:00
			.slide
				.slide__wrap-photo
					img(src="img/slide_6.png", alt="Саратов")
				p.slide__city.title Саратов
				p.slide__place Secret Place
				.slide__time
					p.slide__text 12 октября
					p.slide__text 19:00
			.slide
				.slide__wrap-photo
					img(src="img/slide_7.png", alt="Волгоград")
				p.slide__city.title Волгоград
				p.slide__place Secret Place
				.slide__time
					p.slide__text 12 октября
					p.slide__text 19:00
			.slide
				.slide__wrap-photo
					img(src="img/slide_8.png", alt="Самара")
				p.slide__city.title Самара
				p.slide__place Secret Place
				.slide__time
					p.slide__text 19 октября
					p.slide__text 19:00