.speakers
	.container
		.speakers__list
			.speaker.speaker--1
				img.speaker__photo(src="img/svg/speaker_1.svg" alt="speaker")
				.speaker__info
					p.speaker__name.title Secret Speaker
					p.speaker__company Secret company
					p.speaker__title Тема доклада
					p.speaker__topic Secret topic
			.speaker.speaker--2
				img.speaker__photo(src="img/svg/speaker_2.svg" alt="speaker")
				.speaker__info
					p.speaker__name.title Secret Speaker
					p.speaker__company Secret company
					p.speaker__title Тема доклада
					p.speaker__topic Secret topic