section.timing
	.container
		h2.timing__title.title.title--med Тайминг и программа:
		.timing__wrap
			.timing-item
				p.timing-item__time 19:00 - 20:00
				p.timing-item__text Регистрация и welcome drink
			.timing-item
				p.timing-item__time 20:00 - 20:30
				p.timing-item__text Доклад спикера 
			.timing-item
				p.timing-item__time 20:30 - 21:00
				p.timing-item__text Доклад спикера 
			.timing-item
				p.timing-item__time 21:00 - 22:00
				p.timing-item__text Развлекательная программа и розыгрыш призов
			.timing-item
				p.timing-item__time 22:00 - 24:00
				p.timing-item__text Нетворкинг вечеринка