section.timing
	.container
		h2.timing__title.title.title--med Тайминг и программа:
		.timing__wrap
			.timing-item
				p.timing-item__time 12:00 - 13:00
				p.timing-item__text Регистрация и welcome drink
			.timing-item
				p.timing-item__time 13:00 - 13:40
				p.timing-item__text Доклад спикера 
			.timing-item
				p.timing-item__time 13:40 - 14:20
				p.timing-item__text Доклад спикера 
			.timing-item
				p.timing-item__time 14:20 - 15:00
				p.timing-item__text Развлекательная программа и розыгрыш призов
			.timing-item
				p.timing-item__time 15:00 - 15:40
				p.timing-item__text Нетворкинг вечеринка