.nav
	padding: 49px 0
	position: absolute
	top: 0
	left: 0
	right: 0
	+r(479)
		padding: 20px 0
	&__wrapper
		display: flex
		justify-content: space-between
		align-items: center
	&__logo
		+r(767)
			width: 130px
		+r(479)
			width: 100px
	.reg-block
		+r(639)
			display: none

